
<div class="main-body d-flex flex-column">
    
    <img class="pessoa-foto border border-dark mx-auto" [src]="pessoa.urlFoto" (error)="pessoa.urlFoto = 'assets/notAvailable.jpg'"/>
    


    <div class="secao secao-principal border border-2 rounded p-3 mt-2 mb-3 mx-auto">
        <h3 class="text-center">Informações Gerais</h3>
    <mat-list>
        <mat-list-item>
            <span matListItemTitle>Nome</span> 
            <span matListItemLine>{{pessoa.nome}}</span>
        </mat-list-item>
        <mat-list-item>
            <span matListItemTitle>Idade</span> 
            <span matListItemLine>{{pessoa.idade}}</span>
        </mat-list-item>
        <mat-list-item>
            <span matListItemTitle>Sexo</span> 
            <span matListItemLine>{{pessoa.sexo}}</span>
        </mat-list-item>
        
    </mat-list>
    </div>
    
    <div class="secao border border-2 rounded p-3 mt-2 mb-3 mx-auto">
        <h3 class="text-center">Última Ocorrência</h3>
        <mat-list>
            <mat-list-item>
                <span matListItemTitle>Data do Desaparecimento</span> 
                <span matListItemLine>{{dtDesaparecimento | date: "dd/MM/yyyy"}}</span>
            </mat-list-item>
            <mat-list-item>
                <span matListItemTitle>Local do Desaparecimento</span> 
                <span matListItemLine>{{ultOco.localDesaparecimentoConcat}}</span>
            </mat-list-item>
        </mat-list>
    </div>
    
    <div class="secao border border-2 rounded p-3 mt-2 mb-3 mx-auto">
        <h3 class="text-center">Entrevista sobre Ocorrência</h3>
        <mat-list>
            <mat-list-item>
                <span matListItemTitle>Informações</span> 
                <span matListItemLine>{{entrev.informacao}}</span>
            </mat-list-item>
            <mat-list-item>
                <span matListItemTitle>Vestimentas do Desaparecido</span> 
                <span matListItemLine>{{entrev.vestimentasDesaparecido}}</span>
            </mat-list-item>
        </mat-list>
    </div>
    
    <div class="secao border border-2 rounded p-3 mt-2 mb-3 mx-auto">
        <h3 class="text-center">Compartilhe nas redes</h3>
        <share-buttons 
        [theme]="'default'"
        [include]="['facebook','twitter','linkedin','pinterest','reddit','tumblr','mix','viber','vk','telegram','messenger','whatsapp','xing','line','sms','email','print','copy']"
        [show]="5"
        [url]="'https://twitter.com/'"
        [autoSetMeta]="false"
        ></share-buttons>

        
    </div>
</div>


